<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servlet_panelControlVendedor</servlet-name>
        <servlet-class>BLL.servlet_panelControlVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_listadoCategorias</servlet-name>
        <servlet-class>BLL.servlet_listadoCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_altaCategoria</servlet-name>
        <servlet-class>BLL.servlet_altaCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_altaSubCategoria</servlet-name>
        <servlet-class>BLL.servlet_altaSubCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_cargaCategorias</servlet-name>
        <servlet-class>BLL.servlet_cargaCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_altaArticulo</servlet-name>
        <servlet-class>BLL.servlet_altaArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_modCategoria</servlet-name>
        <servlet-class>BLL.servlet_modCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_borrarCategoria</servlet-name>
        <servlet-class>BLL.servlet_borrarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_preModCategoria</servlet-name>
        <servlet-class>BLL.servlet_preModCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_preModSubcategoria</servlet-name>
        <servlet-class>BLL.servlet_preModSubcategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_modSubcategoria</servlet-name>
        <servlet-class>BLL.servlet_modSubcategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_borrarSubcategoria</servlet-name>
        <servlet-class>BLL.servlet_borrarSubcategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_preModArticulo</servlet-name>
        <servlet-class>BLL.servlet_preModArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_modArticulo</servlet-name>
        <servlet-class>BLL.servlet_modArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_borrarArticulo</servlet-name>
        <servlet-class>BLL.servlet_borrarArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_panelControlVendedor</servlet-name>
        <url-pattern>/servlet_panelControlVendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_listadoCategorias</servlet-name>
        <url-pattern>/servlet_listadoCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_altaCategoria</servlet-name>
        <url-pattern>/servlet_altaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_altaSubCategoria</servlet-name>
        <url-pattern>/servlet_altaSubCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_cargaCategorias</servlet-name>
        <url-pattern>/servlet_cargaCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_altaArticulo</servlet-name>
        <url-pattern>/servlet_altaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_modCategoria</servlet-name>
        <url-pattern>/servlet_modCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_borrarCategoria</servlet-name>
        <url-pattern>/servlet_borrarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_preModCategoria</servlet-name>
        <url-pattern>/servlet_preModCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_preModSubcategoria</servlet-name>
        <url-pattern>/servlet_preModSubcategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_modSubcategoria</servlet-name>
        <url-pattern>/servlet_modSubcategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_borrarSubcategoria</servlet-name>
        <url-pattern>/servlet_borrarSubcategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_preModArticulo</servlet-name>
        <url-pattern>/servlet_preModArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_modArticulo</servlet-name>
        <url-pattern>/servlet_modArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_borrarArticulo</servlet-name>
        <url-pattern>/servlet_borrarArticulo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
